/*  Beat Animation */
.easer {
    animation: close-in-out 2s ease-in-out;
}

@keyframes close-in-out {
    0% {
        transform: scale(1);
        opacity: 0.3;
    }
    15% {
        transform: scale(2);
        opacity: 0.5;
    } 
    30% {
        transform: scale(1);
        opacity: 0.8;
    }
    45% {
        transform: scale(2);
        opacity: 1;
    }
    60% {
        transform: scale(1);
        opacity: 0.3;
    }
    75% {
        transform: scale(2);
        opacity: 0.5;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}

/* Blurry Right Movement */
.blurryright {
    animation: blurryright 1s linear;
}

@keyframes blurryright {
    0% {
        opacity: 0;
        transform: translateX(6rem);
    }
    20% {
        opacity: 0.2;
        transform: translateX(4rem);
    }
    60% {
        opacity: 0.4;
        transform: translateX(2rem);
    }
    80% {
        opacity: 0.6;
        transform: translateX(1rem);
    }
    100% {
        opacity: 1;
        transform: translateX(0rem);
    }
}

/* Blurry Left Movement */
.blurryleft {
    animation: blurryleft 1s linear;
}

@keyframes blurryleft {
    0% {
        opacity: 0;
        transform: translateX(-6rem);
    }
    20% {
        opacity: 0.2;
        transform: translateX(-4rem);
    }
    60% {
        opacity: 0.4;
        transform: translateX(-2rem);
    }
    80% {
        opacity: 0.6;
        transform: translateX(-1rem);
    }
    100% {
        opacity: 0.8;
        transform: translateX(0rem);
    }
}

/* Ghost Movement */
.ghost {
    animation: floating 2s infinite;
}

@keyframes floating {
    0% {
        transform: translateY(1.3125rem);
    }
    50% {
        transform: translateY(7.9125rem);
    }
    100%{
        transform: translateY(1.3125rem);
    }
}

/* Jumper Effect */
.jumper {
    animation: jumper 1.2s ease-in-out;
}

@keyframes jumper {
    0% {
        transform: rotate(7deg);
        opacity: 0.4;
    }
    50% {
        transform: scale(2) rotate(-10deg);
        opacity: 0.8;
    }
    100% {
        transform: rotate(0deg);
        opacity: 1;
    }
}



